/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  /* colors */
  /* fonts  */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* global */

/* header */
header {
  padding: 2.5rem;
  text-align: center;
}

/* header */

/* mobile - responsive */
@media (max-width: 390px) {
  header {
    display: none;
  }
}
/* mobile */
