/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  /* colors */
  --background-primary: #f4f5fb;
  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --white: #fff;
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
  /* fonts  */
  --font: "Inter", sans-serif;
}

body {
  font-family: var(--font);
  background-color: var(--background-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* global */

/* header */
header {
  padding: 2.5rem;
  text-align: center;
}
/* header */

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 630px;
}

.back {
  align-self: flex-start;
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  font-weight: bold;
  color: var(--color-brand);
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 4.4rem;
}

.content {
  width: 100%;
}

.content form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

#inItem {
  flex: 1;
  color: var(--border-primary);
  padding: 11px 18px;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 1.2rem;
  border: 2px solid;
  outline: none;
}

#inItem:focus {
  border: 2px solid var(--border-hover);
}

button {
  color: #fff;
  padding: 12px 24px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  background: var(--color-brand);
  border-radius: 1.2rem;
  transition: .2s ease-in-out;
}

button:hover {
  background: var(--color-brand-hover);
}
/* main */

/* list-types */

ul {
  margin-top: 4rem;
}

.list-item{
  display: flex;
  align-items: center;
  margin-top: 1.2rem; 
  background: var(--white);
  padding: 10px 12px;
  border-radius: 12px;
}

.item-checkbox {
  display: none;
}

/* checkbox customizado */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-right: 1.2rem;
}

/* estilo checkbox */
.checkmark {
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.2s;
}

.item-checkbox:checked + .checkmark {
  background-color: var(--border-primary);
  border-color: var(--border-primary);
}

.checkmark::after {
  content: "🗸";
  position: absolute;
  color: #b9c2d0;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 2px;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

.item-checkbox:checked + .checkmark::after {
  transform: translate(-50%, -50%) scale(1);
}

.item-name {
  color: var(--content-secondary);
  font-size: 1.6rem;
}

.delete-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: auto;
}

.alert-message {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  line-height: 2rem;
  margin-top: 3.6rem;
  font-size: 1.6rem;
  font-weight: bolder;
  border-radius: 1.2rem;
  color: var(--white);
  background-color: var(--color-danger);
}

.alert-icon img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.close-alert {
  cursor: pointer;
  margin-left: auto;
}
/* list-types */

/* mobile - responsive */
@media (max-width: 390px) {
  header {
    display: none;
  }
}
/* mobile */
